<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bookworm | <%= title%></title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <!-- Font Icon -->
    <link rel="stylesheet" href="../signup/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="../signup/css2/style.css">
    <link href="../signup/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div class="main">

        <div class="container">
            <div class="booking-content">
                <div class="booking-image">
                    <img class="booking-img" src="../signup/images/form-img.jpg" alt="Booking Image">
                </div>
                <div class="booking-form">
                    <form id="signup" action="/admin/addAuthor" method="post" onsubmit="return submitform(event)">
                        <h2>Add Author</h2>
                        <div id="error"></div>
                        <div class="form-group form-input">
                            <input type="text" name="authorName" id="authorName" required/>
                            <label for="authorName" class="form-label">Author Name</label>
                        </div>
                        <div class="form-group form-input">
                            <!-- <input type="text" name="authorDetails" id="authorDetails" required/>
                            <label for="authorDetails" class="form-label">Author Details</label> -->
                            <textarea name="authorDetails" class="form-control" id="authorDetails"></textarea>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="Submit" class="submit" id="submit" name="submit"/>
                            <a href="/admin/authorManagement" class="vertify-booking">Not Add Author Details</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="../signup/vendor/jquery/jquery.min.js"></script>
    <script src="../signup/js2/main.js"></script>
    <script src="../javascripts/signupvalidation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>