<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bookworm | <%= title%></title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="../signup/css2/style.css">
    <link href="../signup/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div class="main">

        <div class="container">
            <div class="booking-content">

                    <div class="booking-image">
                        <img class="booking-img" src="../signup/images/form-img.jpg" alt="Booking Image" style="height: 100%;">
                    </div>
                <div class="booking-form">
                    <form class="py-4" id="signup" action="/register" method="post" onsubmit="return submitform(event)">
                        <h2>Add Book</h2>
                        <div id="error"></div>
                        <% if(warning) {%>
                            <div class="alert alert-warning border border-warning w-80 d-flex justify-content-center fw-bold py-2" role="alert" >Book Already Exist</div>
                        <% } %>
                        <div class="form-group form-input">
                            <input type="text" name="bookName" id="bookName" required/>
                            <label for="bookName" class="form-label">Book Name</label>
                        </div>
                        <!-- <div class="form-group form-input">
                            <input type="hidden" name="book" id="book" value="Book" required/>
                            <label for="book" class="form-label">Book Details</label>
                        </div> -->
                        <label style="color :#bebebe" class="pt-1">Book Details</label>
                        <div class="form-group form-input pt-2">
                            <textarea name="bookDetails" class="form-control" id="bookDetails" style="background-color: #111; color: aliceblue; height: 150px;"></textarea>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="form-group form-input pt-2 w-50">
                                <label for="author" style="color :#bebebe">Author:</label>
                                <select name="author" id="author" class="bg-dark" pt-1>
                                    <option value="">Select Author</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </div>
                            <div class="pt-4">
                                <button type="button" class="btn btn-danger btn-sm">Add Author</button>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="form-group form-input pt-2 w-50">
                                <label for="genre" style="color :#bebebe">Genre:</label>
                                <select name="genre" id="genre" class="bg-dark" pt-1>
                                    <option value="">Select Author</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </div>
                            <div class="pt-4">
                                <button type="button" class="btn btn-danger btn-sm">Add Genre</button>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="form-group form-input pt-2">
                                <input type="file" name="photo" id="photo"  multiple required />
                                <!-- <label for="rentPrice" class="form-label">Rent Price</label> -->
                            </div>
                        </div>
                        <div class="form-group form-input  w-30">
                            <input type="number" name="pages" id="pages" required />
                            <label for="pages" class="form-label">Pages</label>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="form-group form-input w-30">
                                <input type="number" name="retailPrice" id="retailPrice"required />
                                <label for="retailPrice" class="form-label">Retails Price</label>
                            </div>
                            <div class="form-group form-input w-30">
                                <input type="number" name="rentPrice" id="rentPrice" required />
                                <label for="rentPrice" class="form-label">Rent Price</label>
                            </div>
                        </div>
                        <div class="form-submit pt-3">
                            <input type="submit" value="Add Book" class="submit" id="submit" name="submit"/>
                            <a href="/admin/productManagement" class="vertify-booking">back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>



    <!-- JS -->
    <script src="../signup/vendor/jquery/jquery.min.js"></script>
    <script src="../signup/js2/main.js"></script>
    <script src="../signup/javascripts/signupvalidation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>