<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bookworm | Admin Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
<link rel="apple-touch-icon" sizes="180x180" href="../template/assets/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../template/assets/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../template/assets/img/favicons/favicon-16x16.png">
<link rel="shortcut icon" type="image/x-icon" href="../template/assets/img/favicons/favicon-32x32.png">
<link rel="manifest" href="../template/assets/img/favicons/manifest.json">
<meta name="msapplication-TileImage" content="../template/assets/img/favicons/mstile-150x150.png">
	<link rel="stylesheet" type="text/css" href="../adminLogin/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../adminLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../adminLogin/vendor/animate/animate.css">	
<link rel="stylesheet" type="text/css" href="../adminLogin/vendor/css-hamburgers/hamburgers.min.css">
<link rel="stylesheet" type="text/css" href="../adminLogin/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="../adminLogin/css/util.css">
<link rel="stylesheet" type="text/css" href="../adminLogin/css/main.css">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="../adminLogin/images/img-02.png" alt="IMG">
				</div>

				<form id="adminLogin" class="login100-form validate-form" action="/admin/adminLogin" method="post" onsubmit="return submitform()">
					<span class="login100-form-title">
						Admin Login
					</span>

					<div id="alert"></div>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" id="email" name="email" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" id="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

					<div class="text-center p-t-12">
						<span class="txt1">
							<!-- Forgot -->
						</span>
						<a class="txt2" href="#">
							<!-- Username / Password? -->
						</a>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="#">
							
							<!-- <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i> -->
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	
	<script src="../javascripts/adminLoginvalidation.js"></script>
		
	<script src="../adminLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="../adminLogin/vendor/bootstrap/js/popper.js"></script>
	<script src="../adminLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../adminLogin/vendor/select2/select2.min.js"></script>
	<script src="../adminLogin/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<script src="../adminLogin/js/main.js"></script>

</body>
</html>