<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Bookworm | <%= title%></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="../signup/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		
		<!-- STYLE CSS -->
		<!-- <link rel="stylesheet" href="style/css/style.css"> -->
		<link href="../signup/css/bootstrap.css" rel="stylesheet" />

		<style>
			@font-face {
			font-family: "Muli-Regular";
			src: url("../signup/fonts/muli/Muli-Regular.ttf"); }
			@font-face {
			font-family: "Muli-SemiBold";
			src: url("../signup/fonts/muli/Muli-SemiBold.ttf"); }
			@font-face {
			font-family: "Muli-Bold";
			src: url("../signup/fonts/muli/Muli-Bold.ttf"); }
			* {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box; }

			body {
			font-family: "Muli-Regular";
			color: #666;
			font-size: 13px;
			margin: 0; }

			input, textarea, select, button {
			font-family: "Muli-Regular";
			color: #333;
			font-size: 13px; }

			p, h1, h2, h3, h4, h5, h6, ul {
			margin: 0; }

			img {
			max-width: 100%; }

			ul {
			padding-left: 0;
			margin-bottom: 0; }

			a:hover {
			text-decoration: none; }

			:focus {
			outline: none; }

			.wrapper {
			min-height: 100vh;
			background-size: cover;
			background-repeat: no-repeat;
			display: flex;
			align-items: center; }

			.inner {
			min-width: 850px;
			margin: auto;
			padding-top: 68px;
			padding-bottom: 48px;
			box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
			background: url("../signup/images/registration-form-2.jpg"); 
			background-repeat:no-repeat; }
			.inner h3 {
				text-transform: uppercase;
				font-size: 22px;
				font-family: "Muli-Bold";
				text-align: center;
				margin-bottom: 32px;
				color: #333;
				letter-spacing: 2px; }

			form {
			width: 50%;
			padding-left: 45px; }

			.form-group {
			display: flex; }
			.form-group .form-wrapper {
				width: 50%; }
				.form-group .form-wrapper:first-child {
				margin-right: 20px; }

			.form-wrapper {
			margin-bottom: 10px; }
			.form-wrapper label {
				margin-bottom: 5px;
				display: block; }

			.form-control {
			border: 1px solid #ccc;
			display: block;
			width: 100%;
			height: 40px;
			padding: 0 20px;
			border-radius: 12px;
			font-family: "Muli-Regular";
			background: none; }
			.form-control:focus {
				border: 1px solid #FFB30E; }

			select {
			-moz-appearance: none;
			-webkit-appearance: none;
			cursor: pointer;
			padding-left: 20px; }
			select option[value=""][disabled] {
				display: none; }

			button {
			border: none;
			width: 152px;
			height: 40px;
			margin: auto;
			margin-top: 20px;
			margin-bottom: 20px;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;
			background: #FFB30E;
			font-size: 13px;
			color: #fff;
			text-transform: uppercase;
			font-family: "Muli-SemiBold";
			border-radius: 20px;
			overflow: hidden;
			-webkit-transform: perspective(1px) translateZ(0);
			transform: perspective(1px) translateZ(0);
			box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			position: relative;
			-webkit-transition-property: color;
			transition-property: color;
			-webkit-transition-duration: 0.5s;
			transition-duration: 0.5s; }
			button:before {
				content: "";
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: #ff9900;
				-webkit-transform: scaleX(0);
				transform: scaleX(0);
				-webkit-transform-origin: 0 50%;
				transform-origin: 0 50%;
				-webkit-transition-property: transform;
				transition-property: transform;
				-webkit-transition-duration: 0.5s;
				transition-duration: 0.5s;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out; }
			button:hover:before {
				-webkit-transform: scaleX(1);
				transform: scaleX(1);
				-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
				transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }

			.checkbox {
			position: relative; }
			.checkbox label {
				padding-left: 22px;
				cursor: pointer; }
			.checkbox input {
				position: absolute;
				opacity: 0;
				cursor: pointer; }
			.checkbox input:checked ~ .checkmark:after {
				display: block; }

			.checkmark {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			height: 12px;
			width: 13px;
			border-radius: 2px;
			background-color: #ebebeb;
			border: 1px solid #ccc;
			font-family: Material-Design-Iconic-Font;
			color: #000;
			font-size: 10px;
			font-weight: bolder; }
			.checkmark:after {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				display: none;
				content: '\f26b'; }

			@media (max-width: 991px) {
			.inner {
				min-width: 768px; } }
			@media (max-width: 767px) {
			.inner {
				min-width: auto;
				background: none;
				padding-top: 0;
				padding-bottom: 0; }

			form {
				width: 100%;
				padding-right: 15px;
				padding-left: 15px; } }

			/*# sourceMappingURL=style.css.map */
			/* Chrome, Safari, Edge, Opera */
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
			}

			/* Firefox */
			input[type=number] {
			-moz-appearance: textfield;
			}

		</style>

	</head>

	<body>

		<div class="wrapper" style="background-image: url('images/bg-registration-form-2.jpg');">
			<div class="inner">
				<form action="/signup" id="signup" method="post" onsubmit="return submitform(event)">
					<h3><b>Sign Up</b></h3>
					<div id="error"></div>
					<% if(warning) {%>
						<div class="alert alert-warning border border-warning w-80 d-flex justify-content-center fw-bold py-2" role="alert" >Email Already Exist</div>
					<% } %>
                    <div class="form-wrapper">
						<label for="">User Name</label>
						<input type="text" id="username" class="form-control" name="userName">
					</div>
                    <div class="form-wrapper">
						<label for="">Email</label>
						<input type="text" id="email" class="form-control" name="email">
					</div>
					<div class="form-group">
						<div class="form-wrapper">
							<label for="">Phone Number</label>
							<input type="Number" id="phonenumber" class="form-control" name="phoneNumber">
						</div>
						<div class="form-wrapper">
							<label for="">Age</label>
							<input type="Number" id="age" class="form-control" name="age">
						</div>
					</div>
					<div class="form-wrapper">
						<label for="">Password</label>
						<input type="password" id="fpassword" class="form-control" name="password">
					</div>
					<div class="form-wrapper">
						<label for="">Confirm Password</label>
						<input type="password" id="spassword" class="form-control" name="confirmPassword">
					</div>
					<!-- <div class="checkbox">
						<label>
							<input type="checkbox"> I caccept the Terms of Use & Privacy Policy.
							<span class="checkmark"></span>
						</label>
					</div> -->
					<button>Register Now</button>
					<hr>
					<div>
					<div class="d-flex justify-content-center">
						<p class="mb-0">Already Create <a class="fw-bold" href="/">Log In</a></p>
					</div>
					</div>
				</form>
			</div>
		</div>


		<!-- <script>

			const form = document.querySelector("#signup");
			const username = form.querySelector("#username");
			const email = form.querySelector("#email");
			const phone = form.querySelector("#phonenumber");
			const age = form.querySelector("#age");
			const fpassword = form.querySelector("#fpassword");
			const spassword = form.querySelector("#spassword");
			const errorElement = form.querySelector('#error');



			function hideErrorMessage(){
				errorElement.innerHTML="";
			}
			function showErrorMessage(message){
				errorElement.innerHTML =`<div class="alert alert-warning w-80 justify-content-center" role="alert" >${message}</div>`;
				// errorElement.innerHTML = `<div class="alert alert-warning alert-dismissible fade show" role="alert">
				// ${message}
				// <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				// <span aria-hidden="true">&times;</span></button></div>`
			}
			function submitform(e){
				// e.preventDefault()
				if(username.value === ""){
					showErrorMessage("Name is required");
					return false;
				}

				if(username.value.length >30){
					showErrorMessage("Name must be less than 30");
					return false;
				}


				if(email.value === ""){
					showErrorMessage("Email is required");
					return false;
				}


				var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
				if (email.value.match(validRegex)) {
				
				} else {
					showErrorMessage("Email is not correct");
					return false;
				}
				
				if(phonenumber.value === ""){
					showErrorMessage("Phonenumber is required");
					return false;
				}

				if(phonenumber.value.length <10){
					showErrorMessage("Phone Number must be 10 numbers");
					return false;
				}

				if(phonenumber.value.length >10){
					showErrorMessage("Phone Number must be 10 numbers");
					return false;
				}

				if(age.value === ""){
					showErrorMessage("Age is required");
					return false;
				}

				if(age.value.length >3){
					showErrorMessage("Enter the correct Age");
					return false;
				}

				if(age.value== 0){
					showErrorMessage("Enter the correct Age");
					return false;
				}



				if(age.value>= 200){
					showErrorMessage("Enter the correct Age");
					return false;
				}

				if(fpassword.value === ""){
					showErrorMessage("Password is required");
					return false;
				}

				if(fpassword.value.length >=15){
					showErrorMessage("Password must be less than 15 Characters");
					return false;
				}

				if(fpassword.value == "password"){
					showErrorMessage("Password can not be password");
					return false;
				}


				if(spassword.value === ""){
					showErrorMessage("Confirm Password is required");
					return false;
				}

				if(fpassword.value !== spassword.value){
					showErrorMessage("Passwords are not same");
					return false;
				}

				hideErrorMessage()
				return true;
			}
				

		</script> -->

		<script src="../signup/js/bootstrap.js"></script>
		<script src="../javascripts/signupvalidation.js"></script>
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>